/* Match channel text area to user container */
.form__13a2c {
    padding: 0;
}
  
.channelTextArea__2e60f {
    margin: 0;
}
  
.scrollableContainer__33e06 {
    border-radius: 0;
}
  
.inner__9fd0b {
    min-height: 48px;
    padding-top: 4px;
}
  
/* Move typing indicators */
.typing__6fd1d {
    top: -24px;
    left: 0px;
    width: fit-content;
    padding-right: 9px;
    border-radius: 0 8px 0 0;
    background: var(--bg-overlay-3,var(--channeltextarea-background));
}
  
/* Remove single pixel padding from user container */
.container_ca50b9 {
    margin: 0;
}
/* End Match channel text area to user container */