/* fade in */
@keyframes fadein{
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    100% { opacity:1; }
}

/* timestamp hover */
[class*=" timestampInline_"] {
    opacity: 0;
}

[class*=" timestampInline_"]:hover {
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
} 